* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
button {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: normal;
}
.wrap {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  background: #222222;
  height: 75px;
  color: #fff;
}
.catalog-main {
  height: 2272px;
  margin-bottom: 128px;
}
.header-logo {
  height: 38px;
  width: 44px;
  margin-right: 41px;
}
.header-search {
  width: 26px;
  height: 27px;
  transition: 0.7s;
}
.header-menu {
  width: 32px;
  height: 23px;
  margin-right: 34px;
  position: relative;
  transition: 0.7s;
}
.dropdown-content {
  position: relative;
  padding: 16px;
  width: 232px;
  height: 764px;
  background-color: #FFFFFF;
  color: #222222;
  display: flex;
  flex-direction: column;
}
.dropdown-content-tag p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.dropdown-content-links p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.account {
  margin-right: 30px;
}
.dropdown-content-links a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #6F6E6E;
  margin: 0 20px;
}
.dropdown-content-links a:hover {
  color: #F16D7F;
}
.dropdown-background {
  position: absolute;
  height: 764px;
  top: 75px;
  left: 0;
  right: 0;
  background-color: rgba(25, 23, 23, 0.7);
  justify-content: flex-end;
  display: none;
}
.dropdown-background-open {
  display: flex;
  z-index: 1;
}
.dropdown-content-tag {
  display: flex;
  justify-content: space-between;
}
.dropdown-content a {
  text-decoration: none;
}
.header-acc {
  width: 29px;
  height: 29px;
  margin-right: 34px;
  transition: 0.7s;
}
.header-basket {
  position: absolute;
  width: 32px;
  height: 29px;
  transition: 0.7s;
}
.basket-score {
  position: relative;
  display: inline-block;
  left: 15%;
  bottom: 20px;
  text-decoration: none!important;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  -webkit-animation: rotate 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite both;
  animation: rotate 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite both;
}
.header-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo {
  height: 767px;
  margin: 0 auto;
  background: linear-gradient(to right, #F4F3F3, #F1E4E6);
}
.promo-wrap {
  display: flex;
}
.promo-img {
  margin-left: -225px;
}
.promo-text-details {
  margin: 326px 40px;
  padding-left: 16px;
  border-left: #f16d7f 12px solid;
  color: #222222;
}
.promo-text-details h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  margin: 0;
}
.promo-text-details p {
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  margin: 0;
}
#promo-last-word {
  color: #f16d7f;
}
.categories {
  background-color: #ffffff;
  margin-top: 63px;
}
.categories-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.cat1,
.cat2,
.cat3 {
  width: 31%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
}
.cat1 {
  background-image: url("../img/women.jpg");
}
.cat2 {
  background-image: url("../img/men.jpg");
}
.cat3 {
  background-image: url("../img/kids.jpg");
}
.categories-details {
  margin-top: 105px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
}
.categories-details span {
  font-size: 24px;
  font-weight: 700;
  color: #f16d7f;
  margin: 5px;
}
.cat4 {
  margin-top: 30px;
  text-align: center;
  background-image: url("../img/acces.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1140px;
  height: 180px;
}
.cat4-details {
  padding-top: 65px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
}
.cat4-details span {
  font-size: 24px;
  font-weight: 700;
  color: #f16d7f;
  margin: 5px;
}
.products {
  background-color: #fff;
  margin-top: 97px;
  margin-bottom: 110px;
}
.products-name {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #222222;
  margin: 3px;
  text-align: center;
}
.products-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #9F9F9F;
  margin: 3px;
  text-align: center;
}
.products-items {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.product-item {
  width: 360px;
  height: 581px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
  display: block;
}
.product-item1 {
  position: relative;
}
.product-item-hover {
  position: absolute;
  height: 420px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(18, 8, 8, 0.7);
  opacity: 0;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}
.product-item-hover:hover {
  opacity: 1;
}
.addcart {
  background-color: transparent;
  outline: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
.addcart:hover {
  transform: scale(1.1);
}
.addcart span {
  padding: 10px;
  line-height: 43px;
}
.addcart img {
  margin-bottom: -5px;
}
.products-item-name {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #000000;
  padding-left: 18px;
  padding-right: 28px;
}
.products-item-text {
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #9F9F9F;
  padding-left: 18px;
  padding-right: 28px;
  overflow: hidden;
}
.products-item-price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 18px;
  padding-right: 28px;
}
.browse-btn {
  margin-top: 48px;
  text-align: center;
}
.browse-btn a {
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 15px 40px;
  outline: 1px solid #FF6A6A;
  transition: 0.6s;
}
.browse-btn a:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.advantages {
  background: #222224;
}
.adv {
  width: 360px;
}
.advantages-wrap {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 103px;
}
.adv1 img {
  margin-bottom: 8px;
}
.adv3 img {
  margin-bottom: 5px;
}
.adv-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}
.adv-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  padding: 0 18px;
  margin-bottom: 104px;
}
.feedback {
  background-image: url("../img/feedbackimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 448px;
}
.feedback-background {
  background-color: rgba(255, 255, 255, 0.7);
  height: 448px;
}
.feedback-wrap {
  max-width: 1140px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.recension {
  width: 30%;
  margin-top: 87px;
}
.recension p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscribe {
  width: 50%;
  margin-top: 110px;
}
.subscribe h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 0;
}
#subscribe-form {
  background-color: #E1E1E1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 285px;
  height: 50px;
  padding-left: 22px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
  border: none;
}
.subscribe-btn {
  background-color: #f16d7f;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 2s;
  margin-left: -15px;
}
.subscribe-btn:hover {
  background-color: crimson;
}
.subscribe p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  margin-top: 0;
}
.footer {
  background-color: #222224;
  height: 80px;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
}
.brand {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 30px;
}
.brand p {
  margin: 0;
}
.socials {
  margin-top: 24px;
}
.socials a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 34px;
  background-color: #FFFFFF;
  color: black;
  transition: 0.7s;
}
.social svg {
  fill: currentColor;
}
.socials a:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  transform: scale(1.5);
}
.header-search:hover,
.header-menu:hover,
.header-acc:hover,
.header-basket:hover {
  transform: scale(1.5);
}
.catalog-header {
  background-color: #F8F3F4;
  height: 150px;
  margin-bottom: 50px;
}
.catalog-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.catalog-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.catalog-breadcramb ul li {
  list-style-type: none;
  float: left;
}
.catalog-breadcramb ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  margin-left: 4px;
}
.catalog-breadcramb-direction {
  font-weight: 700!important;
  color: #F16D7F !important;
}
.catalog-filter {
  margin-bottom: 65px;
  height: 38px;
}
.catalog-filter-wrap {
  display: flex;
  position: relative;
}
.catalog-filter-tag {
  flex-basis: 32%;
  margin-top: 14px;
}
.pagination {
  width: 100%;
}
.filter-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  overflow: hidden;
  outline: none;
}
.filter-text_elem {
  font-weight: 600;
}
.catalog-filter-trend {
  margin-left: 25px;
}
.catalog-filter-tag p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.catalog-filter-tag p img {
  margin: 0 30px 0 10px;
}
.catalog-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.catalog-product {
  height: 580px;
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  overflow: hidden;
}
.catalog-product img {
  transition: 3s;
  transition-timing-function: cubic-bezier(0.7, 0.2, 0.3, 1);
}
.catalog-product img:hover {
  transform: scale(1.5) rotateY(360deg);
}
.catalog-product a {
  text-decoration: none;
}
.catalog-product-name {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 24px 0 12px 0;
}
.catalog-product-text {
  font-style: normal;
  height: 49px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 0 18px 0;
  overflow: hidden;
}
.catalog-product-price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 20px;
}
.catalog-product p {
  padding: 0 16px 0 30px;
}
.catalog-pagination {
  margin: 20px auto;
  width: 285px;
  height: 45px;
  outline: 1px solid #EBEBEB;
  text-align: center;
}
.catalog-pagination a {
  padding: 0 5px;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 45px;
  color: #CFCFCF;
  transition: 0.7s;
}
.catalog-pagination-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.catalog-pagination-btn svg {
  fill: black;
}
.catalog-pagination-btn svg:hover {
  fill: #EF5B70;
}
.catalog-pagination a:hover {
  color: #EF5B70;
}
summary::-webkit-details-marker {
  display: none;
}
.filter-details {
  width: 360px;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
}
.filter-details[open] {
  position: absolute;
  height: inherit;
  width: 360px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-left: 15px;
  top: -5px;
  padding-top: 19px;
  color: #F16D7F !important;
}
.filter-details[open] summary {
  color: #F16D7F;
}
.filter-details-categories {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E !important;
}
.catalog-filter-size {
  position: relative;
}
.catalog-filter-checkbox {
  position: absolute;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background: #FFFFFF;
  width: 100%;
}
.catalog-filter-checkbox form {
  display: flex;
  flex-direction: column;
}
.catalog-filter-checkbox form:first-child {
  margin-top: 10px;
}
.catalog-checkbox summary {
  margin-top: 14px;
}
.checkbox-form-block {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
summary {
  /*чтобы не было треугольника в firefox*/
  display: block;
}
.filter-details summary {
  color: #000000;
}
.filter-details summary:focus {
  color: #EF5B70;
  cursor: pointer;
  outline: none;
}
.filter-details-name {
  line-height: 37px;
  color: #6F6E6E !important;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-top: 30px;
  padding-left: 11px;
}
.filter-details-name:hover {
  color: #EF5B70 !important;
}
.filter-items {
  color: #6F6E6E !important;
  margin-left: 15px;
  font-weight: normal!important;
}
.filter-details-categories details a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E !important;
}
.filter-details-categories:last-child {
  margin-bottom: 16px;
}
.filter-details summary:hover {
  color: #EF5B70;
  cursor: pointer;
}
.filter-items:hover {
  color: #EF5B70 !important;
}
.filter-text svg {
  fill: currentColor;
  margin-left: 10px;
  margin-right: 30px;
}
.filter-text:hover {
  color: #EF5B70;
}
.filter-text {
  cursor: pointer;
}
.product-slider {
  background-color: #F7F7F7;
  display: flex;
  height: 777px;
  margin-top: -50px;
}
.product-slider button {
  fill: black;
  outline: none!important;
  cursor: pointer;
  border: none;
  height: 47px;
  width: 47px;
  align-self: center;
  background-color: rgba(42, 42, 42, 0.15);
  padding: 0;
}
.product-slider button:hover {
  fill: #F26376;
}
.product-description-add-cart {
  color: #EF5B70;
  border: 1px solid #EF5B70;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 48px;
  width: 211px;
  height: 48px;
  padding-right: 37px;
  margin-bottom: 65px;
  cursor: pointer;
  transition: 2s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.product-description-add-cart svg {
  fill: currentColor;
  margin-right: 22px;
  margin-bottom: -5px;
}
.product-description-add-cart:hover {
  color: #FFFFFF;
  background-color: #F26376;
  transform: rotateX(360deg);
}
.product-description-usability {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-description-checkboxes {
  display: flex;
  margin-bottom: 48px;
}
.product-description-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 571px;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 50px;
}
.product-description {
  position: relative;
}
.product-description-wrap {
  position: relative;
  top: -65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding-top: 65px;
  margin-bottom: 129px;
  outline: 1px solid #EAEAEA;
}
.product-description-tag {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.product-description-name {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
  margin-bottom: 50px;
}
.product-description-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
  margin-top: 0;
}
.product-description-price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-bottom: 65px;
  margin: 0;
}
.product-checkbox {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.catalog-checkbox summary svg {
  margin-right: 23px!important;
}
.product-catalog-wrap {
  display: flex;
  justify-content: space-between;
  top: -65px;
}
.bem-content {
  margin: 0;
  padding: 0;
}
.bem-content_wrap {
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
.bem-content__cart-product {
  width: 652px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  height: 306px;
  display: flex;
}
.bem-main-header {
  background-color: #F8F3F4;
  height: 150px;
}
.bem-space {
  content: "";
  margin-bottom: 100px;
}
.bem-spaceX2 {
  content: "";
  margin-bottom: 40px !important;
}
.bem-spaceX3 {
  content: "";
  margin-bottom: 60px !important;
}
.bem-main-header__wrap {
  justify-content: space-between;
  align-items: center;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.bem-main-header__tag {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.bem-cart-content {
  padding: 22px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
}
.bem-cart-image {
  overflow: hidden;
}
.bem-cart-image img {
  transition: 0.7s;
}
.bem-cart-image img:hover {
  transform: scale(1.5);
}
.bem-cart-content__name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 262px;
  margin-bottom: 40px;
  margin-top: 0;
}
.bem-cart-content__property {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin: 0 0 6px 0;
}
.bem-cart-content__property_price {
  color: #F16D7F;
}
.bem-cart-content__quantity {
  text-align: center;
  outline: 1px solid #EAEAEA;
  margin-left: 24px;
  width: 44px;
  height: 25px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}
.bem-closing__menubtn_hovered {
  fill: #F16D7F;
}
.bem-closing__menubtn {
  fill: #6F6E6E;
}
.bem-closing__menubtn:hover {
  fill: #F16D7F;
}
.bem-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.bem-closing_hovered {
  fill: #F16D7F;
}
.bem-closing {
  position: absolute;
  fill: #575757;
}
.bem-closing:hover {
  fill: #F16D7F;
}
.bem-closing__cart {
  position: absolute;
  fill: #575757;
  top: 25px;
  right: 17px;
}
.bem-closing__cart:hover {
  fill: #F16D7F;
}
.bem-content__cart-product-space {
  margin-bottom: 40px;
}
.bem-content__cart-others {
  display: flex;
  flex-direction: column;
}
.bem-input {
  width: 100%;
  outline: 1px solid #A4A4A4;
  border: none;
  height: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  padding: 12px 10px 15px 15px;
}
.bem-shipping-form {
  width: 360px;
}
.bem-shipping-form__input {
  width: 100%;
  outline: 1px solid #A4A4A4;
  border: none;
  height: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  padding: 12px 10px 15px 15px;
  color: #222222;
}
.bem-shipping-form__input::placeholder {
  color: #222222;
}
.bem-shipping-form__input:focus {
  outline: 3px solid #F16D7F;
}
.bem-shipping-form__input:focus::placeholder {
  color: #B1B1B1;
}
.bem-space20 {
  margin-bottom: 20px !important;
}
.bem-space30 {
  margin-bottom: 30px !important;
}
.bem-space35 {
  margin-bottom: 35px!important;
}
.bem-space15 {
  margin-bottom: 15px!important;
}
.bem-shipping-form__input_focused {
  outline: 3px solid #F16D7F;
}
.bem-shipping-form__input_focused::placeholder {
  color: #B1B1B1;
}
.bem-shipping-form__label {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 0;
}
.bem-shipping__button {
  outline: 1px solid #A4A4A4;
  width: 100px;
  height: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 60px;
  transition: 1s;
}
.bem-shipping__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}
.bem-total-price {
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
  padding: 40px 34px;
  text-align: center;
}
.bem-total-price__sub {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  margin-top: 0;
  margin-bottom: 12px;
}
.bem-total-price__grand {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  margin-top: 0;
  margin-bottom: 21px;
}
.bem-total-price__line {
  content: "";
  width: 275px;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 17px;
  margin-left: 6px;
}
.bem-total-price__sum {
  margin-left: 20px;
}
.bem-total-price__sum_important {
  margin-left: 20px;
  color: #F16D7F;
}
.bem-total-price__button {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: 1s;
}
.bem-total-price__button:hover {
  background-color: #FFFFFF;
  outline: 1px solid #F16D7F;
  color: #222222;
}
.bem-total-price__button_hovered {
  background-color: #FFFFFF;
  outline: 1px solid #F16D7F;
  color: #222222;
}
.bem-space75 {
  margin-bottom: 75px!important;
}
.bem-content__cart-usabilities {
  display: flex;
  justify-content: space-between;
}
.bem-cart-usabilities__button {
  background-color: #FFFFFF;
  width: 225px;
  height: 50px;
  outline: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  transition: 2s;
}
.bem-cart-usabilities__button:hover {
  outline: 1px solid #F16D7F;
  background-color: #F8F3F4;
  transform: rotateX(360deg);
}
.bem-cart-usabilities__button_hovered {
  outline: 1px solid #F16D7F;
  background-color: #F8F3F4;
  transform: rotateX(360deg);
}
.bem-space130 {
  content: "";
  margin-bottom: 130px!important;
}
.bem-registration-form {
  display: flex;
  flex-direction: column;
}
.bem-registration {
  width: 360px;
}
.bem-loyalities {
  width: 652px;
}
.bem-registration__input {
  color: #B1B1B1;
}
.bem-registration-form__tag {
  margin: 0;
  color: #222222;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.bem-text {
  font-style: normal;
  font-weight: 300;
  margin: 0;
}
.bem-text__notices {
  font-style: normal;
  font-weight: 300;
  margin: 0;
  color: #B1B1B1;
  font-size: 13px;
  line-height: 16px;
}
.bem-overflow_hidden {
  overflow: hidden;
}
.bem-registration__button {
  background-color: #F16D7F;
  height: 50px;
  width: 167px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  fill: currentColor;
  transition: 1s;
}
.bem-registration__button i {
  margin-left: 20px;
}
.bem-registration__button:hover {
  background-color: #FFFFFF;
  outline: 1px solid #F16D7F;
  color: #F16D7F;
}
.bem-registration__button_hovered {
  background-color: #FFFFFF;
  outline: 1px solid #F16D7F;
  color: #F16D7F;
}
.bem-loyalities__tag {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  fill: #222222;
}
.bem-loyalities__tag i {
  margin-right: 22px;
}
.bem-radiobox {
  font-style: normal;
  font-weight: 300;
  margin: 0;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
}
.bem-radiobox span {
  margin-left: 10px;
  margin-bottom: 20px;
}
.bem-radiobox__input {
  vertical-align: middle;
  margin-bottom: 5px;
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
@-moz-keyframes slide {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@media screen and (max-width: 1160px) {
  .wrap {
    padding: 0 20px;
  }
  .promo {
    height: 50vw;
    min-height: 363px;
  }
  .promo-img {
    width: 50%;
    height: 50vw;
    margin-left: 0;
  }
  .promo-img img {
    height: 50vw;
    width: 100%;
  }
  .promo-text {
    background-color: #F1E4E6;
  }
  .promo-text-details {
    margin: 138px 0 0 40px;
  }
  .promo-text-details h2 {
    font-size: 44px;
    font-weight: 700;
  }
  .promo-text-details p {
    font-size: 24px;
  }
  .categories {
    margin-top: 20px;
  }
  .cat1,
  .cat2,
  .cat3 {
    height: 22vw;
    background-size: 100% 168px;
  }
  .cat4 {
    margin: 20px 20px 0 20px;
  }
  .cat4-details {
    padding-top: 24px;
  }
  .categories-details {
    margin-top: 60px;
  }
  .products {
    margin-top: 154px;
    margin-bottom: 75px;
  }
  .products-items {
    margin-top: 74px;
  }
  .product-item {
    margin-bottom: 17px;
  }
  .browse-btn {
    margin-top: 23px;
  }
  .advantages-wrap {
    flex-direction: column;
    align-items: center;
  }
  .adv {
    margin-top: 48px;
  }
  .adv-text {
    margin-bottom: 0;
  }
  .adv3 {
    margin-bottom: 64px;
  }
  .feedback {
    height: 693px;
    background-image: url("../img/bgisub-tablet.jpg");
  }
  .feedback-background {
    height: 693px;
  }
  .feedback-wrap {
    flex-direction: column;
    align-items: center;
  }
  .recension {
    margin-top: 54px;
    width: 70%;
  }
  .subscribe {
    margin-top: 48px;
  }
  .catalog-header {
    margin-bottom: 24px;
  }
  .catalog-filter {
    margin-bottom: 40px;
  }
  .catalog-filter-trend {
    margin-left: auto;
  }
  .catalog-main {
    height: 2681px;
  }
  .catalog-product-hidden {
    display: none;
  }
  .catalog-product {
    margin-bottom: 16px;
  }
  .catalog-pagination {
    margin: 25px auto;
  }
  .product-catalog {
    margin-bottom: 128px;
  }
  .product-main {
    min-height: 2997px;
  }
  .product-catalog-wrap {
    justify-content: space-around;
  }
  .bem-space {
    margin-bottom: 60px;
  }
  .bem-content_wrap {
    flex-direction: column;
    align-items: center;
  }
  .bem-content_wrap .bem-content__cart-others {
    flex-direction: row;
    justify-content: space-around;
  }
  .bem-content_wrap .bem-content__cart-others .bem-shipping-form {
    width: 47%;
  }
  .bem-content_wrap .bem-content__cart-others .bem-total-price {
    width: 47%;
    margin-top: 37px;
  }
  .bem-content__cart-product {
    width: 95vw;
    transition: 0.7s;
  }
  .bem-content__cart-usabilities {
    justify-content: center;
  }
  .bem-content__cart-usabilities .bem-cart-usabilities__button {
    margin: 0 25px 64px 25px;
  }
  .bem-content__registration {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between !important;
    align-items: flex-start;
  }
  .bem-content__registration .bem-loyalities__tag {
    font-size: 16px;
    line-height: 19px;
  }
  .bem-registration {
    width: 48%;
  }
  .bem-loyalities {
    width: 50%;
  }
  .bem-loyalities i {
    margin: 0;
  }
  .bem-loyalities__tag_tabled {
    margin-bottom: 32px!important;
  }
  .bem-loyalities__tag i svg {
    float: left;
    margin-bottom: 17px;
    margin-right: 22px;
  }
  .bem-cart-content {
    width: 75%;
  }
}
@media screen and (max-width: 770px) {
  .wrap {
    padding: 0 8px;
  }
  .header-acc {
    display: none;
  }
  .header-basket {
    display: none;
  }
  .basket-score {
    display: none;
  }
  .header-menu {
    margin-right: 0;
  }
  .account {
    margin-right: 0;
  }
  .promo-img {
    display: none;
  }
  .promo {
    background-color: #F1E4E6;
  }
  .promo-text {
    background-color: transparent;
    margin: 148px auto;
  }
  .promo-text-details {
    margin: 0;
  }
  .promo-text-details h2 {
    font-size: 38px;
  }
  .promo-text-details p {
    font-size: 20px;
  }
  .categories {
    margin-top: 64px;
  }
  .categories-wrap {
    flex-direction: column;
  }
  .cat1,
  .cat2,
  .cat3 {
    width: 100%;
    background-size: auto;
    margin-bottom: 32px;
    height: 247px;
  }
  .cat4 {
    height: 111px;
    background-size: cover;
    background-position: center;
    margin: 0 16px;
  }
  .categories-details {
    margin-top: 98px;
  }
  .products {
    margin-bottom: 107px;
    margin-top: 64px;
  }
  .products-items {
    flex-direction: column;
  }
  .browse-btn {
    margin-top: 43px;
  }
  .adv3 {
    margin-bottom: 81px;
  }
  .recension {
    width: 100%;
  }
  .subscribe {
    width: 100%;
  }
  .subscribe p {
    font-size: 14px;
  }
  .footer {
    height: 143px;
  }
  .footer-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  .socials {
    margin-top: 43px;
    margin-bottom: 40px;
  }
  .brand {
    margin: 0 0 10px 0;
  }
  .catalog-wrap {
    margin-bottom: 25px;
    flex-direction: column;
  }
  .catalog-breadcramb ul {
    padding-left: 0;
  }
  .catalog-breadcramb ul li {
    letter-spacing: 2px;
  }
  .catalog-wrap {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .catalog-product {
    overflow: unset;
  }
  .catalog-tag h1 {
    margin-top: 24px;
  }
  .filter-text_elem span {
    display: none;
  }
  .filter-text_elem svg {
    height: 25px;
    width: 38px;
  }
  .catalog-filter {
    margin-bottom: 32px;
  }
  .catalog-main {
    height: 5017px;
  }
  .product-slider {
    margin-top: -25px;
    width: 100vw;
    height: 110vw;
    padding-top: 55px;
    padding-bottom: 85px;
  }
  .product-slider-wrap img {
    width: 65vw;
  }
  .product-description-wrap {
    top: 0;
  }
  .catalog-checkbox .filter-text {
    font-size: 10px;
  }
  .product-description-wrap {
    margin-bottom: 64px;
  }
  .product-catalog-wrap {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .product-catalog-wrap .catalog-product {
    margin-bottom: 0;
  }
  .product-description-text {
    padding: 0 12px;
  }
  .product-catalog {
    margin-bottom: 64px;
  }
  .product-main {
    max-height: 3518px;
  }
  .bem-main-header__tag {
    width: 100%;
    text-align: center;
  }
  .bem-space {
    margin-bottom: 40px;
  }
  .bem-content__main-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bem-content__cart-product {
    height: 188px;
  }
  .bem-cart-image {
    overflow: unset;
    height: 188px;
    width: 144px;
  }
  .bem-cart-image img {
    height: 188px;
    width: 144px;
  }
  .bem-cart-content {
    padding: 14px 17px;
  }
  .bem-cart-content h2 {
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  .bem-cart-content p {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 4px 0;
  }
  .bem-cart-content__quantity {
    font-size: 10px;
    line-height: 12px;
    height: 15px;
    width: 24px;
  }
  .bem-closing__cart {
    top: 17px;
    right: 12px;
  }
  .bem-closing__cart svg {
    width: 10px;
    height: 10px;
  }
  .bem-space130 {
    margin-bottom: 96px;
  }
  .bem-content_wrap .bem-content__cart-others {
    flex-direction: column;
    align-items: center;
  }
  .bem-content_wrap .bem-content__cart-others .bem-shipping-form {
    width: 100%;
  }
  .bem-content_wrap .bem-content__cart-others .bem-total-price {
    margin-top: 49px;
    width: 100%;
  }
  .bem-content__cart-usabilities {
    justify-content: space-around;
    width: 99vw;
  }
  .bem-content__cart-usabilities .bem-cart-usabilities__button {
    width: 45%;
    margin: 0 0 64px 0;
    font-size: 12px;
    line-height: 14px;
  }
  .bem-content__registration {
    flex-direction: column!important;
    align-items: center!important;
  }
  .bem-registration {
    width: 100%;
    margin-bottom: 40px;
  }
  .bem-loyalities {
    width: 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .feedback {
    background-image: url("../img/feedbackimg@2x.jpg");
  }
}
/*# sourceMappingURL=main.css.map */